.no-hover-mint {
    text-decoration: none;

}

.no-hover-mint:hover{
    color: rgba(255, 255, 255, 0.8);
}

.diagonal{
    width: 100%;
}

.stories p{
    font-size: 30px;
    font-family: Fredoka;
}

.stories h2{
    color: aliceblue;
    text-shadow: 2px 2px lightblue;
    font-size: 40px;
    font-family: 'Righteous';
}

.story2 p{
    display: flex;
    align-items: center;
    font-size: 35px;
    text-align: center;
}

.non-hoverAbout{
    align-items: center;
    font-size: 25px;
    text-align: left;
    margin-top: 10px;
}



.stories{
    max-width: 80em;
    margin: 0 auto;
}

.story1{
    display: flex;
    color: aliceblue;
    /*text-shadow: 1px 1px lightblue;*/
    align-items: center;
}


.story2{
    color: aliceblue;
    /*text-shadow: 1px 1px lightblue;*/
    padding: 5px;
    font-family: 'Fredoka';
    align-items: center;
    display: flex;
}


.box1 {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: 10px solid transparent;
    margin: 40px;
}

.box2 {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: 10px solid transparent;
    padding: 10px;
    margin: 100px;
}

.mintButton1 {
    transition: 0.45s;
    margin-top: -10%;
    border: 4px solid royalblue;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    padding: 20px 45px;
    margin-right: 20px;
    color: royalblue;
    cursor: pointer;
    font-family: 'Fredoka';
    /*text-shadow: 1px 1px lightblue;*/
    max-width: 80em;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 24px;
}

.mintButton1:hover{
    /*text-shadow: 1px 1px lightgrey;*/
    background-color: royalblue;
    color: rgba(255, 255, 255, 0.8);
    border: 4px solid rgba(255, 255, 255, 0.8);
}

.hoverAbout:hover{
    display: flex;
    color: rgba(255, 255, 255, 0.8);
    align-items: center;
    font-size: 25px;
    text-align: left;
    margin-top: 10px;
}


@media (max-width: 648px) {
    .non-hoverAbout{
        font-size: 18px;
    }

    .mintButton1{
        padding: 12px 30px;
        font-size: 22px;
    }

    .stories h2{
        color: aliceblue;
        text-shadow: 2px 2px lightblue;
        font-size: 30px;
        font-family: 'Righteous';
    }

}




