body {
    margin: 0;
    border: none;
}

.text-footer{
    transition: 0.45s;
    margin-top: 33%;
    font-size: 24px;
    font-family: Fredoka;
    color: aliceblue;
}

.footer-big{
    background-color: #7388E1FF;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.text-footer:hover{
    color: lightblue;
}

.footerLogo{
    display: flex;
    justify-content: space-between;
    left: 1rem;
    cursor: pointer;
}

.footerActions{
    display: flex;
}

.footerActions > div{
    margin: 10px;
}



.footerItems{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: Fredoka;
    position: absolute;
    color: aliceblue;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
}

.no-decorations{
    text-decoration: none;
    color: aliceblue;
}


.copyrights{
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: Fredoka;
    position: absolute;
    color: aliceblue;
    top: 50%;
    left: 80%;
    -ms-transform: translate(-80%, -50%);
    transform: translate(-80%, -50%);
    margin: 0;

}

.terms{
    transition: 0.45s;
    margin: 0;
    justify-content: center;
    text-align: center;
    clear: both;
    overflow: hidden;
    white-space: nowrap;
}

.privacy{
    transition: 0.45s;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.dash{
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.no-decorations:hover{
    color: lightblue;
    cursor: pointer;
}

.privacy:hover{
    color: lightblue;
    cursor: pointer;
}


.card {
    background-color: #7388E1FF;
    color: white;
    height: 100px;
    width: 100%;
    grid-gap: 0px;

}



.card-logo {
    background-color: #7388E1FF;
    color: white;
    height: 100px;
    width: 100%;
    grid-gap: 0px;

}

.cards {
    width: 100%;
    display: grid;
    border: none;
    background-color: #7388E1FF;
    margin: 0;
    grid-gap: 0;
}

/* Screen larger than 600px? 1 column */
@media (min-width: 600px) {
    .cards { grid-template-columns: 1fr; }

}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 33.33%); }
}


@media (max-width: 900px) {
    .terms{
        font-size: 15px;
    }
    .privacy{
        font-size: 15px;
    }

    .copyrights{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: Fredoka;
        position: absolute;
        color: aliceblue;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin: 0;

    }

    .card-logo {
        background-color: #7388E1FF;
        color: white;
        height: 50px;
        width: 100%;
        border: none;
        align-content: center;
        align-items: center;
    }

    .display-footer{
        display: none;
    }



    .footerLogo{
        left: 50%;
        top: 50%;
        position: absolute;
        color: aliceblue;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin: 0;
    }
}

@media (max-width: 648px) {
    /*Mobile View */
    .img-logo{
        opacity: 0;
    }

    .terms{
        width: 100%;
    }

    .privacy{
        width: 100%;
    }


    .footer-big{
        height: 110px;
        background-color: #7388E1FF;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .card{
        height: 50px;
    }

    .card-logo{
        height: 50px;
    }

    .copyrights{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: Fredoka;
        position: absolute;
        color: aliceblue;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin: 0;
    }

    .footerLogo{
        cursor: pointer;
        margin-left: 42%;
    }

}

@media (max-width: 1000px){
    footer-items{
        color: #00ffe1;
    }
}