.header {
    background-color: #7388E1FF;
    z-index: 2;
    text-shadow: 1px 1px lightblue;
    position: sticky;
    top: 0%;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.timer {
    margin-left: -20px;
    height: 100px;
    color: aliceblue;
    text-shadow: 1px 1px lightblue;
    width: 100%;
}

.header > div{
    margin: 10px;
}

.dubbLogo{
    width: 100px;
    height: 100px;
}

.logoContainer{
    max-height: 100px;
    max-width: 100px;
}

.headerItems{
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    color: rgb(0,0,20);
    font-size: 30px;
    cursor: pointer;
    font-family: 'Righteous';
}

.abouthead:hover{
    color: aliceblue;
    text-shadow: 1px 1px lightblue;
}

.teamhead:hover{
    color: aliceblue;
    text-shadow: 1px 1px lightblue;
}

.faqhead:hover{
    color: aliceblue;
    text-shadow: 1px 1px lightblue;
}

.road-maphead:hover{
    color: aliceblue;
    text-shadow: 1px 1px lightblue;
}

.headerItems > p{
    margin: 20px;
}

.headerActions{
    display: flex;
    right: 1rem;
    justify-content: space-between;
}

.headerActions > div{
    margin: 10px;
}

.discordContainerH{
    display: flex;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 40px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.discordContainerH:hover{
    cursor: pointer;
    background-color: aliceblue;
}

.discordContainerH > img{
    height: 20px;
}

.instagramContainerH{
    display: flex;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 40px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.instagramContainerH > img{
    height: 20px;
}

.instagramContainerH:hover{
    cursor: pointer;
    background-color: aliceblue;
}

.twitterContainerH:hover{
    cursor: pointer;
    background-color: aliceblue;
}

.twitterContainerH{
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 40px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.twitterContainerH > img{
    height: 20px;
}

.road-maphead{
    margin-left: 10px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

