.mint-soon{
    background: linear-gradient(to bottom, #7388E1FF,#2344b9, #7388E1FF);
}

.space-soon{
    width: 100%;
    height: 400px;
    position: relative;
}

.space-soon-top{
    width: 100%;
    height: 200px;
    position: relative;
}

.mintButtonDiscord {
    opacity: 50%;
    margin-top: 20%;
    cursor: pointer;
    transition: 0.45s;
    border: 4px solid black;
    background-color: aliceblue;
    border-radius: 50px;
    padding: 20px 45px;
    color: royalblue;
    cursor: pointer;
    font-family: 'Fredoka';
    max-width: 80em;
    font-size: 24px;
}

.mintButtonDiscord:hover{
    opacity: 100%;
    color: rgba(255, 255, 255, 0.8);
    border: 4px solid black;
}


@media (max-width: 648px) {
    .space-soon-top{
        width: 100%;
        height: 300px;
        position: relative;
    }

    .mintButtonDiscord {
        margin-top: 80%;
    }
}



