
.roadmap-title{
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);

}


.road-map{
    color: aliceblue;
    margin: 0;
    background: linear-gradient(to bottom, #7388E1FF,#2344b9, #7388E1FF);
}

.titleRoad{
    color: aliceblue;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 100%;
    text-align: center;
}

.titleRoad h1{
    font-family: Righteous;
    text-shadow: 3px 3px lightblue;
    font-size: 60px;
}



.doberImage{
    height: 100px;
    width: 30px
}

.road-map-q1-text{
    margin-top: 20%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.road-map-q1-text h3{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.road-map-q1-text-shown{
    text-align: left;
    color: aliceblue;
    /*text-shadow: 1px 1px lightblue;*/
    font-size: 20px;
    font-family: Fredoka;

}

.road-map-q1-text-unshown{
    display: none;
}

.road-map-q1-text-unshown-show{
    text-align: left;
    color: aliceblue;
    /*text-shadow: 1px 1px lightblue;*/
    font-size: 20px;
    font-family: Fredoka;
    animation: top-to-bottom 0.5s ease-in;
}

.road-map-q2-text{
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.road-map-q2-text h3{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.road-map-q2-text-shown{
    text-align: left;
    color: aliceblue;
    /*text-shadow: 1px 1px lightblue;*/
    font-size: 20px;
    font-family: Fredoka;
}

.road-map-q2-text-unshown{
    display: none;
}

.road-map-q2-text-unshown-show{
    text-align: left;
    color: aliceblue;
    /*text-shadow: 1px 1px lightblue;*/
    font-size: 20px;
    font-family: Fredoka;
    animation: top-to-bottom 0.5s ease-in;
}

.road-map-q3-text{
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 10%;
}

.road-map-q3-text h3{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.road-map-q3-text-shown{
    text-align: left;
    color: aliceblue;
    text-shadow: 1px 1px lightblue;
    font-size: 20px;
    font-family: Fredoka;
}

.road-map-q3-text-unshown{
    display: none;
}

.road-map-q3-text-unshown-show{
    text-align: left;
    color: aliceblue;
    /*text-shadow: 1px 1px lightblue;*/
    font-size: 20px;
    font-family: Fredoka;
    animation: top-to-bottom 0.5s ease-in;
}

.read-more-btn.animated{
    animation: top-to-bottom 0.5s ease-in;
    margin-left: 40%;
    padding: 15px;
    color: aliceblue;
    font-family: Righteous;
    /*text-shadow: 1px 1px lightblue;*/
    background: transparent;
    border: transparent;
}

@keyframes top-to-bottom {
    0%{
        transform: translateY(-15px);
        opacity: 0;
    }

    50%{
        transfrom: translateY(-7.5px);
        opacity: 0.5;
    }

    /*66%{
        transform: translateY(-20px);
        opacity: 0.8;
    }*/

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.read-more-btn{
    transition: 0.45s;
    padding: 15px;
    color: aliceblue;
    font-family: Righteous;
    /*text-shadow: 1px 1px lightblue;*/
    background: transparent;
    border: transparent;
}

.read-more-btn:hover{
    color: lightblue;
    /*text-shadow: 1px 1px lightblue;*/
}

@media (max-width: 648px) {

    .titleRoad{
        margin-left: 5%;
    }

    .read-more-btn{
        margin-left: 0%;
    }

    .road-map-q1-text-shown{
        text-align: center;
    }

    .road-map-q1-text-unshown-shown{
        text-align: center;
    }

    .road-map-q2-text-shown{
        text-align: center;
    }

    .road-map-q2-text-unshown-show{
        text-align: center;
    }

    .road-map-q3-text-shown{
        text-align: center;
    }

    .road-map-q3-text-unshown-show{
        text-align: center;
    }

    .read-more-btn.animated {
       margin-left: 0%;
    }

    .text-center-roadmap{
        text-align: center;
    }
}