 .container {
     height: fit-content;
     display: flex;
     margin-top: 5%;
     margin-bottom: 5%;
     justify-content: center;
 }
.teamParagraph{
    font-size: 30px;
    color: white;
    font-family: Fredoka;
    margin-bottom: 10%;
}

 .teamHeader{
     font-size: 50px;
     color: white;
     font-family: Righteous;
     margin-bottom: 10%;
 }

  .container {
      height: fit-content;
      display: flex;
      margin-top: 5%;
      margin-bottom: 5%;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }
.card1{
    transition: 0.45s;
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 550px;
    background-color: rgba(197,195,200,0.6);
    margin: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 5px white;
}

.card1:hover {
    background-color: rgba(197,195,200,0.8);
}
 /*.names:hover {
     color: black;
 }*/

/*.card1::before{
    content: '';
    position: absolute;
    top: -130px;
    left: -125px;
    width: 100%;
    height: 120%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
    transform: rotate(35deg);
    pointer-events: none;
    filter: blur(5px);
}*/


 .card1::before{
     content: '';
     position: absolute;
     top: -10px;
     left: 70px;
     width: 110%;
     height: 130%;
     background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
     transform: rotate(35deg);
     pointer-events: none;
     filter: blur(5px);
 }


 /*.card1:hover{
     background: linear-gradient(rgba(0,0,0,10), gold, rgba(0,0,0,10));
     box-shadow: 0 15px 0 rgba(255, 255, 255, 0.8),
     inset 0 -15px 0 rgba(255, 255, 255, 0.25),
     0 45px 0 rgba(0,0,0,0.15);

 }*/



.radu{
    background-color: white;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: white;
    border-radius: 11px 11px 11px 11px;
}

.radu img{
    cursor: pointer;
}

.vlad{
    background-color: white;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 3px 3px 2px 5px  #C5C3C8;
    border-color: white;
}

.vlad img{
    cursor: pointer;
}

.stefan{
    background-color: white;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 3px 3px 2px 5px  #C5C3C8;
    border-color: white;

}

.stefan img{
    cursor: pointer;
}

.boboc {
    background-color: white;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: white;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 3px 3px 2px 5px  #C5C3C8;
    z-index: 3;
}

.boboc img{
    cursor: pointer;
}

.bogdan{
    background-color: white;
    height: 200px;
    width: 200px;
    border-color: white;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 3px 3px 2px 5px  #C5C3C8;
}

.bogdan img{
    cursor: pointer;
}

.cristiana{
    background-color: white;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: white;
    border-width: 3px 3px 3px 3px;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 3px 3px 2px 5px  #C5C3C8;
}

.cristiana img{
    cursor: pointer;
}

.content{
    font-size: large;
    color: white;
    bottom: -20px;
}

.names{
    color: white;
    font-family: "Righteous";
    font-size: 32px;
    margin-bottom: 10px;
}

.descriere-rol-team{
    font-family: Fredoka;
    background-color: transparent;
    border: 5px solid transparent;
    color: white;
    text-align: justify-all;
    margin-top: 15px;
    font-size: 24px;
}

.descriere{
    font-family: Fredoka;
    color: white;
    background-color: transparent;
    border: 5px solid transparent;
    text-align: justify-all;
    top: 10px;
    font-size: 22px;
}

.logo{
    transition: 0.45s;
    cursor: pointer;
    height: 45px;
    width: 45px;
    position: center;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: white;
    border-radius: 5px 5px 5px 5px;
    margin-top: 5px;
}

.logo:hover{
    height: 50px;
    width: 50px;
    border-style: solid;
    border-color: white;
    border-radius: 5px 5px 5px 5px;
}


@media (max-width: 1280px) {

    .radu{
        height: 180px;
        width: 180px;
    }

    .vlad {
        height: 180px;
        width: 180px;
    }

    .stefan{
        height: 180px;
        width: 180px;
    }

    .boboc {
        height: 180px;
        width: 180px;
    }

    .bogdan{
        height: 180px;
        width: 180px;
        align-items: center;
    }

    .cristiana{
        height: 180px;
        width: 180px;
    }

    .card1{
        width: 350px;
        height: 500px;
    }

    .descriere{
        align-items: center;
        font-family: Fredoka;
        background-color: transparent;
        text-align: center;
        top: 10px;
        font-size: 18px;
        border: none;
    }

    .descriere-rol-team{
        font-family: Fredoka;
        background-color: transparent;
        border: 5px solid transparent;
        color: white;
        text-align: justify-all;
        margin-top: 15px;
        font-size: 20px;
    }

    .logo{
        height: 40px;
        width: 40px;
        position: center;
        border-style: solid;
        border-width: 2px 2px 2px 2px;
        border-color: white;
        border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        margin-top: 5px;
    }
}
