 .container {
     height: fit-content;
     display: flex;
     margin-top: 5%;
     margin-bottom: 5%;
     justify-content: center;
 }
.teamParagraph{
    font-size: 30px;
    color: aliceblue;
    font-family: Fredoka;
    margin-bottom: 10%;
}

 .teamHeader{
     font-size: 50px;
     color: aliceblue;
     text-shadow: 1px 1px lightblue;
     font-family: Righteous;
     margin-bottom: 10%;
 }

  .container {
      height: fit-content;
      display: flex;
      margin-top: 5%;
      margin-bottom: 5%;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }
.card1{
    transition: 0.45s;
    position: relative;
    overflow: hidden;
    width: 330px;
    height: 460px;
    background-color: rgba(255, 255, 255, 0.03);
    margin: 40px;
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 5px aliceblue;
}

.card1:hover{
    background-color: #1e1e1e;
}

/*.card1::before{
    content: '';
    position: absolute;
    top: -130px;
    left: -125px;
    width: 100%;
    height: 120%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
    transform: rotate(35deg);
    pointer-events: none;
    filter: blur(5px);
}*/


 .card1::before{
     content: '';
     position: absolute;
     top: -10px;
     left: 70px;
     width: 100%;
     height: 120%;
     background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
     transform: rotate(35deg);
     pointer-events: none;
     filter: blur(5px);
 }


 /*.card1:hover{
     background: linear-gradient(rgba(0,0,0,10), gold, rgba(0,0,0,10));
     box-shadow: 0 15px 0 rgba(255, 255, 255, 0.8),
     inset 0 -15px 0 rgba(255, 255, 255, 0.25),
     0 45px 0 rgba(0,0,0,0.15);

 }*/


.eugen{
    background-color: aliceblue;
    transition: 0.45s;
    height: 180px;
    width: 180px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: aliceblue;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 6px 6px 0px 5px lightblue;
}

.eugen img{
    cursor: pointer;
}

.radu{
    background-color: aliceblue;
    height: 180px;
    width: 180px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: aliceblue;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 6px 6px 0px 5px lightblue;
}

.radu img{
    cursor: pointer;
}

.vlad{
    background-color: aliceblue;
    height: 180px;
    width: 180px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: aliceblue;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 6px 6px 0px 5px lightblue;
}

.vlad img{
    cursor: pointer;
}

.stefan{
    background-color: aliceblue;
    height: 180px;
    width: 180px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: aliceblue;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 6px 6px 0px 5px lightblue;
}

.stefan img{
    cursor: pointer;
}

.boboc {
    background-color: aliceblue;
    height: 180px;
    width: 180px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: aliceblue;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 6px 6px 0px 5px lightblue;
    z-index: 3;
}

.boboc img{
    cursor: pointer;
}

.bogdan{
    background-color: aliceblue;
    height: 180px;
    width: 180px;
    border-width: 5px 5px 5px 5px;
    border-color: aliceblue;
    border-style: solid;
    border-radius:11px 11px 11px 11px;
    box-shadow: 6px 6px 0px 5px lightblue;
}

.bogdan img{
    cursor: pointer;
}

.cristiana{
    background-color: aliceblue;
    height: 180px;
    width: 180px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: aliceblue;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 6px 6px 0px 5px lightblue;
}

.cristiana img{
    cursor: pointer;
}

.content{
    font-size: large;
    color: aliceblue;
    bottom: -20px;
}

.names{
    color: aliceblue;
    font-family: "Righteous";
    text-shadow: 1px 1px lightblue;
}

.descriere-rol{
    font-family: Fredoka;
    background-color: transparent;
    border: 5px solid transparent;
    color: aliceblue;
    text-shadow: 1px 1px lightblue;
    text-align: justify-all;
    margin-top: 20px;
    font-size: 24px;
}

.descriere{
    font-family: Fredoka;
    color: aliceblue;
    background-color: transparent;
    border: 5px solid transparent;
    text-align: justify-all;
    margin-top: -10px;
    font-size: 22px;
}

.logo{
    transition: 0.45s;
    cursor: pointer;
    height: 45px;
    width: 45px;
    position: center;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: aliceblue;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 3px 3px 0px 2.5px lightblue;
    margin-top: 5px;
}

.logo:hover{
    height: 50px;
    width: 50px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 3px 3px 0px 2.5px lightblue;
}


@media (max-width: 1280px) {
    .eugen{
        height: 150px;
        width: 150px;
    }

    .radu{
        height: 150px;
        width: 150px;
    }

    .vlad {
        height: 150px;
        width: 150px;
    }

    .stefan{
        height: 150px;
        width: 150px;
    }

    .boboc {
        height: 150px;
        width: 150px;
    }

    .bogdan{
        height: 150px;
        width: 150px;
        align-items: center;
    }

    .cristiana{
        height: 150px;
        width: 150px;
    }

    .card1{
        width: 300px;
        height: 400px;
    }

    .descriere{
        align-items: center;
        font-family: Fredoka;
        background-color: transparent;
        text-align: center;
        margin-top: -5px;
        font-size: 18px;
        border: none;
    }

    .logo{
        height: 40px;
        width: 40px;
        position: center;
        border-style: solid;
        border-width: 2px 2px 2px 2px;
        border-color: aliceblue;
        border-radius: 11px 11px 11px 11px;
        box-shadow: 3px 3px 0px 2.5px lightblue;
        margin-top: 5px;
    }
}
