.space{
    height: 44px;
    background: transparent;
    width: 100%;
}

.text{
    font-family: Fredoka;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
}


.text-h{
    font-family: Fredoka;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 24px;
}

.text-margin{
    font-family: Fredoka;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.text-cont{
    background: transparent;
    text-align: center;
}

.TermsAndConditions{
    margin: 0;
    background: linear-gradient(to bottom, #7388E1FF,#2344b9, #7388E1FF);
}