#bg-video{
    display: none;
    width: 100%;
    z-index: -1;
    box-sizing: inherit;
    border-width: 5px 5px 5px 5px;
    border-color: white;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 6px 6px 0px 5px  #C5C3C8;
}

.trailer {
    width: 100%;
    height: fit-content;
}

.titluTrailer{
    text-align: center;
    color: white;
    text-shadow: 3px 3px  #C5C3C8;
    font-size: 48px;
    margin-top: 10%;
    padding: 20px;
    margin-bottom: 5%;
    font-family: Righteous;
}


@media (max-width: 600px) {
    #bg-video{
        display: none;
    }
}
