#bg-video{
    display: none;
    width: 100%;
    z-index: -1;
    box-sizing: inherit;
    border-width: 5px 5px 5px 5px;
    border-color: aliceblue;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 6px 6px 0px 5px lightblue;
}

.trailer {
    width: 100%;
    height: fit-content;
}

.titluTrailer{
    text-align: center;
    color: aliceblue;
    text-shadow: 3px 3px lightblue;
    font-size: 60px;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: Righteous;
}


@media (max-width: 600px) {
    #bg-video{
        display: none;
    }
}
