.transition{
    height: 150px;
    width: 100%;
    position: relative;
    background-image: linear-gradient(#2748BB,#2546BA);
    z-index: 3;
}

.hr3 {
    border: 0;
    margin-top: 0px;
    border-top: 2px solid rgba(240, 248, 255, 0.95);
    /*background-image: linear-gradient(to right, transparent, #CCC, transparent);*/
    width: 60%;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    margin-left: -16px;
    border-radius: 20px;


}